/* general style */
@font-face {
  font-family: anton;
  src: url(fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: rubrik;
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}

main {
  margin: 60px;
}

body {
  margin: 10px;
  /* background-color: #f8f7f4; */
  background-color: #f5f3ef;
}

h1 {
  font-family: anton;
  color: #2b4c6b;
}

p,
h2,
h3 {
  font-family: rubrik;
}

header {
  font-family: anton;
  padding: 20px 40px;

  border-bottom: solid #2b4c6b 2px;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: #2b4c6b;
}

.Kurv {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.Kurv img {
  width: 50px;
  height: 50px;
}

.Kurv span {
  font-size: 18px;
  color: #2b4c6b;
}

header a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

header a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

footer {
  color: #2b4c6b;
  border-top: solid #2b4c6b 2px;

  h3 {
    font-family: Anton;
  }
}

/* styling af side */
article {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  color: #1f2933;
}

main {
  margin: 60px;
}

#tilbageknap {
  border: unset;
  background-color: #2b4c6b;
  color: #ffffff;
  padding: 10px;
}

.tekst {
  margin-left: 30px;
  flex: 1;
}

#købsknap {
  border: unset;
  color: #1f2933;
  background-color: #2b4c6b;
  color: #ffffff;
  padding: 15px 50px;
  grid-column: 1;
  font-family: rubrik;
}

#købsknap :hover {
  ackground-color: #2b4c6b;
  opacity: 0.7;
}

h2 {
  border-bottom: 1px solid #2b4c6b;
}
