/* general style */
@font-face {
  font-family: anton;
  src: url(fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: rubrik;
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}

h1 {
  font-family: anton;
}

p,
h2,
h3 {
  font-family: rubrik;
}

body {
  margin: 10px;
  background-color: #f8f7f4;
}

header {
  font-family: anton;
  padding: 20px 40px;

  border-bottom: solid black 2px;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.Kurv {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.Kurv img {
  width: 50px;
  height: 50px;
}

.Kurv span {
  font-size: 18px;
}

header a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

header a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

footer {
  border-top: solid black 2px;
}

/* Produktliste */
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* .beskrivelse {
  display: flex;
  flex-direction: column;
  margin: 0;
} */

.card {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  background-color: lightgray;

  h2,
  h3,
  p {
    color: black;
    margin-left: 30px;
  }

  img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

/* styl på forside  */
#catlisteContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-family: rubrik;

  a {
    padding: 2rem;
    background-color: lightgray;

    text-align: center;
    color: inherit;
  }
}

#catlisteContainer :hover {
  background-color: #2b4c6b;
}

/* labeels med tilbud og udsolgt */
.udsolgt {
  filter: grayscale(1);
  opacity: 8;
  pointer-events: none;
}

.tilbudslabel {
  position: absolute;
  top: 1.3rem;
  left: 0.2rem;
  padding: 1rem;
  background-color: yellow;
  rotate: -20deg;
}

/* Filtrering */
#filter {
  margin-bottom: 13px;
}

/* Sortering */
#sortering {
  margin-bottom: 13px;
}

#filter :hover {
  background-color: lightgray;
}

@media (min-width: 800px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    margin: 60px;
  }
}
